# This defines the default roots and alternate roots.
# The name (or key) of your site will be sprintf'd with
# the below root, right.
root: 
  rails: /home/chris/sites/%s/current/public
  default: /home/chris/sites/%s

# Some more additional config variables
user: deploy
group: deploy

pid_path: /var/run/
config_path: /etc/nginx/
log_path: /var/log/nginx_

# All your vhosts.
sites: 
  # We're naming this vhost 'errtheblog'
  errtheblog:
    # Two upstream servers to proxy balance fairly.
    upstream: 
      - 127.0.0.1:8000
      - 127.0.0.1:8001
    fair: true
    # Just a string of server names.
    server_name: errtheblog.com www.errtheblog.com
    # www.errtheblog.com => errtheblog.com
    no_www: true 
    # Just strings that get spit out as rewrites
    # which won't rewrite for feedburner itself
    feeds:
      - ^/feed/feedburner http://feeds.feedburner.com/errtheblog
      - ^/feed/atom.xml http://feeds.feedburner.com/errtheblog
    # Which root to use.  You can add a custom one here, too.
    root: rails

  cheat:
    upstream: 127.0.0.1:8020
    server_name: cheat.errtheblog.com

  subtlety:
    upstream: 127.0.0.1:8021
    server_name: subtlety.errtheblog.com

  sfruby:
    upstream: 127.0.0.1:8030
    server_name: sfruby.org www.sfruby.org
    no_www: true
    root: rails

  trac:
    upstream: 127.0.0.1:9000
    server_name: require.errtheblog.com

  qa:
    server_name: qa.famupdate.com
    auth_file: /home/builder/conf/htpasswd
    root: /home/builder/site

ssl_sites:
  errtheblog:
    # ssl configuration
    ssl:
      key: /path/to/err.key
      cert: /path/to/err.crt	
    # SSL only allows one vhost per IP this can be solved if you have multiple IPs.
    listen: 10.10.10.1:443
    # Two upstream servers to proxy balance.
    upstream:
      - 127.0.0.1:8000
      - 127.0.0.1:8001
    no_www: true
    server_name: errtheblog.com
    # Just strings that get spit out as rewrites
    rewrites:
      - ^/feed/feedburner http://feeds.feedburner.com/errtheblog
      - ^/feed/atom.xml http://feeds.feedburner.com/errtheblog
    # Which root to use.  You can add a custom one here, too.
    root: rails

